{% extends 'base.html' %}
{% load static %}
{% block title %} {{ page }} {% endblock %}
{% block content %}
    <div class="main-div milk-bg">
        <form method="post">
            {% csrf_token %}
            <div class="mb-1">
                <a style="font-size: 18px; color: black; text-decoration: none;" href="/">
                    <b><i class="bi bi-arrow-left"></i>Назад</b>
                </a>
            </div>

            {% include "includes/error-alert.html" %}

            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;Группа</span>
                {{ form.group }}
            </div>


            <div class="input-group mb-2" style="display: none;" id="otherGroupDiv">
                <span class="input-group-text">Другая группа</span>
                {{ form.other_group }}
            </div>


            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-mortarboard-fill"></i>&nbsp;&nbsp;Предмет</span>
                {{ form.subject }}
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-feather"></i>&nbsp;&nbsp;Тема</span>
                {{ form.topic }}
            </div>


            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-chat-right-text-fill"></i>&nbsp;&nbsp;Описание</span>
                {{ form.description }}
            </div>


            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-calendar-event-fill"></i>&nbsp;&nbsp;Сдать до</span>
                {{ form.due_date }}
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-share-fill"></i>&nbsp;&nbsp;Статьи</span>
                {{ form.posts }}
            </div>
            <div id="postsHelp" class="form-text">Удерживайте CTRL (или <i class="bi bi-command"></i> на Mac), чтобы выбрать
                несколько значений.
            </div>

            <div class="d-grid gap-2 pt-3">
                <button type="submit" class="btn btn-secondary mb-auto btn-lg">Сохранить</button>
            </div>
        </form>
    </div>

    <script src="{% static 'js/show-other-field.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}