/* static/style.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #D9D9D9;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -150px;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    width: 142px;
    height: 162px;
    margin-top: 0px;
}

body > form {
    width: 60vw;
    max-width: 600px;
}

/* .logo-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;s
  justify-content: center;
} */


.tg-button {
    z-index: 3;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.tg-button:hover img {
    z-index: 3;
    opacity: 0.7;
    cursor: pointer;
}

/* .top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 150px;
  background-color: rgb(196, 196, 196);
} */

h1 {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 108px;
    line-height: 89%;
    text-align: center;
    color: #000000;
    margin-right: center;
}

/*кнопка входа*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 239px;
    height: 74px;
    background: #6A6A6A;
    border-radius: 16px;
    margin-top: -30px;
}

.button-container:hover {
    background-color: gray;
}

.login-button {
    padding: 19px 54px;
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 89%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

/* кнопка выхода
.exit-button-container {
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 74px;
  background: #6A6A6A;
  border-radius: 16px;
}

.exit-button-container:hover {
  background-color: gray;
}

.exit-button {
  padding: 19px 54px;
  font-family: 'Franklin Gothic Medium';
  font-style: normal;
  font-size: 48px;
  line-height: 89%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
} */

/*курс*/
.box-course {
    position: fixed;
    top: 27px;
    left: 150px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    flex: none;
}

.word-course {
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    color: #3a3a3a;
    position: relative;
    background-color: #E3E3E3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 60px;
    height: 20px;
}

.extra-buttons {
    display: none;
    position: absolute;
    top: 100%;
    left: center;
    border-radius: 10px;
    width: 80px;
    height: 20px;
}

.word-course:hover .extra-buttons {
    display: block;
}

.course-button {
    padding: 6px 24px;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    border-radius: 10px;
    width: 80px;
}

/*блок*/
.block-of-subject {
    position: relative;
    align-items: center;
    width: 400px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 12px;
}

.name-of-subject {
    position: sticky;
    width: auto;
    height: 50px;
    background: #F8F9FA;
    border-bottom: 1px solid #E9ECEF;
    order: 0;
    border-radius: 10px;
}

.text-subject {
    position: relative;
    left: 10px;
    top: 10px;
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    color: rgb(90, 90, 90)
}

/* .button-done {
  position: sticky;
  width: 30px;
  height: 30px;
  display: block;
  overflow: visible;
  background: #727272;
  border-radius: 10px;
} */


.theme {
    position: relative;
    left: 10px;
    width: auto;
    height: 40px;
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    color: #212529;
}

.homework {
    position: relative;
    left: 10px;
    right: 10px;
    width: calc(99% - 10px);
    height: auto;
    word-wrap: break-word;
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #212529;
}

.date {
    position: absolute;
    bottom: -10px;
    right: 10px;
    max-width: calc(100% - 10px);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #212529;
}


.task-group {
    position: absolute;
    bottom: -10px;
    left: 10px;
    max-width: calc(100% - 10px);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #212529;
}


/*конец блок*/

.text-container {
    position: fixed;
    z-index: 1;
    top: 14px;
    right: 300px;
    max-width: calc(100% - 300px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-right-corner {
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
    color: #000000;
}

.grid-container {
    position: absolute;
    top: 120px;
}


/*кнопка */
.add-button {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #000;
    border-radius: 12px;
    padding: 93px;
    margin: 1rem;
}

.add-button img {
    width: 100px;
    height: 100px;
}

.add-button:hover img {
    opacity: 0.7;
    cursor: pointer;
}

.replace {
    display: none;
}

@media (max-width: 768px) {

    .username {
        display: none;
    }

    .nav-logo {
        display: none;
    }

    .replace {
        display: block;
    }
}


/* поле заполнения
.post-subject {
  position: relative;
  align-items: center;
  width: 520px;
  height: 450px;
  background: #FFFFFF;
  border-radius: 12px;
  font-family: 'Franklin Gothic Medium';
  font-style: normal;
  font-size: 34px;
  font-weight: 600;
  padding-left: 8px;
}

.field-of-subject{
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  height: 30px;
  width: 330px;
  left: 19px;
  font-size: 24px;
  bottom: 4px;
  margin-bottom: -2%;
}

.field-of-topic{
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  bottom: 4px;
  height: 30px;
  left: 98px;
  width: 330px;
  font-size: 24px;
  margin-bottom: -2%;
}

.field-of-description{
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  height: 130px;
  width: 330px;
  bottom: 8px;
  font-size: 24px;
  vertical-align: top;
  resize: none;
  margin-bottom: -3%;
}

.field-of-due_date{
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  height: 30px;
  width: 330px;
  left: 19px;
  font-size: 24px;
  bottom: 4px;
}

.save-button {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  left: 160px;
  bottom: 25px;
  background: #6A6A6A;
  border-radius: 12px;
  padding: 19px 54px;
  font-family: 'Franklin Gothic Medium';
  font-style: normal;
  font-size: 34px;
  line-height: 89%;
  text-align: center;
  color: #FFFFFF;
}

.save-button:hover {
  background-color: gray;
} */


.selectable-card:hover {
    cursor: pointer; /* Добавьте этот стиль, чтобы курсор менялся при наведении на карточку */
}

.selected-card {
    background-color: #888888 !important; /* Серый цвет для выбранной карточки */
    color: #000000 !important; /* Цвет текста на выбранной карточке */
}

body {
    user-select: none; /* Запрет выделения для всех остальных браузеров */
}

/* для удаления кнопки*/
.card-header {
    position: relative;
    overflow: hidden;
}

.highlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dc3545;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.highlight::after {
    content: url('../img/trash.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

.card-header:hover .highlight::before {
    opacity: 1;
}

.card-header:hover .highlight::after {
    opacity: 1;
}
