/* styles.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

.login-button {
    background-color: #ccc;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}
