{% load static %}
<nav class="navbar navbar-expand navbar-dark bg-secondary fixed-top">
    <div class="container-fluid">

        <div class="d-flex align-items-center">
            <a class="navbar-brand nav-logo">
                <img src="{% static 'img/logo.svg' %}" onclick="window.location.href='/'" alt="Logo" width="65" height="auto">
            </a>
            <div class="d-flex flex-column">
                <div class="fw-bold replace"
                     style="font-size: 20px; color: #ffffff;">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="d-flex flex-row align-items-center">
                    {% if user.is_editor %}
                        <div class="fw-bold group" style="font-size: 20px; color: #ffffff;">
                            <i class="bi bi-pencil-square"></i>&nbsp;Редактор
                        </div>
                        <div class="fw-bold group ms-5" style="font-size: 20px; color: #ffffff;" onclick="window.location.href='/groups'">
                            Управление группами
                        </div>
                    {% else %}
                        <div class="fw-bold group" style="font-size: 20px; color: #ffffff;">
                            <i class="bi bi-people-fill"></i>&nbsp;{{ group }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="fw-bold username p-2"
                 style="font-size: 20px; color: #ffffff;">{{ user.first_name }} {{ user.last_name }}</div>

            <a href="/logout" class="btn btn-danger btn-lg" role="button">Выйти&nbsp;<i class="bi bi-door-closed"></i>
            </a>
        </div>

    </div>
</nav>