{% load static %}
<nav class="navbar navbar-expand navbar-dark bg-secondary fixed-top">
    <div class="container-fluid">

        <div class="d-flex align-items-center">
            <a class="navbar-brand nav-logo" href="/">
                <img src="{% static 'img/logo.svg' %}" alt="Logo" width="65"
                     height="auto">
            </a>
            <div class="d-flex flex-column">
                <div class="fw-bold replace"
                     style="font-size: 20px; color: #ffffff;">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="d-flex flex-row align-items-center">
                    {% if user.is_editor %}
                        <div class="fw-bold group" style="font-size: 20px; color: #ffffff;">
                            <i class="bi bi-pencil-square"></i>&nbsp;<i>Редактор</i>
                        </div>
                    {% else %}
                        <div class="fw-bold group" style="font-size: 20px; color: #ffffff;">
                            <i class="bi bi-people-fill"></i>&nbsp;<i>{{ group }}</i></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="fw-bold username p-2"
                 style="font-size: 20px; color: #ffffff;">{{ user.first_name }} {{ user.last_name }}</div>

            {#                        <a href="/logout" class="btn btn-danger btn-lg" role="button">Выйти&nbsp;<i class="bi bi-door-closed"></i>#}
            {#                        </a>#}
            <div class="nav-item dropdown">
                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="bi bi-list"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if user.is_editor %}
                        <li><a class="dropdown-item" href="/groups">Группы</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="/student">Задания</a></li>
                    <li><a class="dropdown-item" href="/posts">Статьи</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="/logout" class="dropdown-item text-danger">Выйти&nbsp;<i class="bi bi-door-closed"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{#<script src="{% static 'js/dropdown.js' %}"></script>#}