aiodns==3.1.1
aiodnsresolver==0.0.155
asgiref==3.7.2
asyncio-dgram==2.1.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cryptography==41.0.5
cycler==0.12.1
DAWG-Python==0.7.2
defusedxml==0.8.0rc2
Django==4.2.7
django-social-auth==0.7.28
dnslib==0.9.23
dnspython==2.4.2
docopt==0.6.2
enchant==0.0.1
fonttools==4.44.1
httplib2==0.22.0
idna==3.4
joblib==1.3.2
jwt==1.3.1
kiwisolver==1.4.5
matplotlib==3.8.1
mpmath==1.3.0
nltk==3.8.1
numpy==1.26.2
oauth2==1.9.0.post1
oauthlib==3.2.2
packaging==23.2
Pillow==10.1.0
pycares==4.4.0
pycparser==2.21
pyenchant==3.2.2
PyJWT==2.8.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.1.1
pyspellchecker==0.7.2
python-dateutil==2.8.2
python-openid==2.2.5
python3-openid==3.2.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
scipy==1.11.4
setuptools==68.2.2
six==1.16.0
social-auth-app-django==5.4.0
social-auth-core==4.5.1
sqlparse==0.4.4
sympy==1.12
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.7
wheel==0.41.3
wordninja==2.0.0