{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW Tracker</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>

<body>
    <div class="header">
        <img src="{% static 'main/logo.png' %}" alt="Logo" class="logo">
        <h1>HW Tracker</h1>
    </div>
    <div class="button-container">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="login-button">Войти</a>
    </div>
</body>
</html>