{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <title>HW Tracker</title>
</head>

<body>
    <div class="logo-1">
        <img src="{% static 'main/logo.png' %}" alt="Logo" class="logo">
    </div>
    <div class="tg-button">
        <img src="{% static 'main/tg.png' %}" alt="Telegram" class="tg">
    </div>
    <div class="top-bar"></div>
    <div class="exit-button-container">
        <a href="logout" class="exit-button">Выйти</a>
    </div>
    <div class="box-course">
        <div class="word-course">
        Курс
        <div class="extra-buttons">
            <button class="course-button">1</button>
            <button class="course-button">2</button>
        </div>
        </div>
    </div>
    <div class="grid-container">
        {% for task in tasks %}
        <div class="block-of-subject">
            <div class="name-of-subject">
                <p class="text-subject">{{ task.subject }}</p>
            </div>
            <p class="theme">{{ task.topic }}</p>
            <p class="date">{{ task.due_date }}</p>
            <p class="homework">{{ task.description }}</p>
            <button class="button-done"></button>
        </div>
        {% endfor %}
    </div>
    <div class="text-container">
        <p class="text-right-corner">{{ username }}</p>
    </div>
</body>
</html>