{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Создание {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text">Группа</span>
        {{ form.group }}
        <div class="invalid-feedback">
            {{ form.group.errors }}
        </div>
    </div>



    <div class="input-group mb-3">
        <span class="input-group-text">Предмет</span>
        {{ form.subject }}
        <div class="invalid-feedback">
            {{ form.subject.errors }}
        </div>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Тема</span>
        {{ form.topic }}
        <div class="invalid-feedback">
            {{ form.topic.errors }}
        </div>
    </div>


    <div class="input-group mb-3">
        <span class="input-group-text">Описание</span>
        {{ form.description }}
        <div class="invalid-feedback">
            {{ form.description.errors }}
        </div>
    </div>



    <div class="input-group mb-3">
        <span class="input-group-text">Сдать до</span>
        {{ form.due_date }}
        <div class="invalid-feedback">
            {{ form.due_date.errors }}
        </div>
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-secondary mb-auto btn-lg">Создать</button>
    </div>
</form>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>

</body>
</html>