{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} HWTracker {% endblock %}</title>
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="header">
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
    <h1>HW Tracker</h1>
</div>
<div class="button-container">
    {#TODO: добавить блоки#}
    <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={{ client_id }}&scope=openid%20profile%20email&redirect_uri={{ redirect_uri }}&state=test123&nonce=123"
       class="login-button">Войти</a>
</div>
</body>
</html>