{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} HWTracker {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
</head>

<body>
<div class="logo-1">
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
</div>
<div class="tg-button">
    <img src="{% static 'img/tg.png' %}" alt="Telegram" class="tg">
</div>
<div class="top-bar">
    <div class="exit-button-container">
        <a href="logout" class="exit-button">Выйти</a>
    </div>
    <div class="box-course">{{ group }}</div>
    <div class="text-container">
        <p class="text-right-corner">{{ first_name }} {{ last_name }}</p>
    </div>
</div>
<div class="grid-container">
    {% for task in tasks %}
        <div class="card border-dark mb-3" style="width: 18rem; height: 18rem;">
            <div class="card-header">{{ task.subject }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ task.topic }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <p class="date">{{ task.due_date|date:"d.m.y H:i" }}</p>
            </div>
        </div>
    {% endfor %}
    {% if is_editor %}
        <div class="add-button" onclick="window.location.href = '/taskform'" ;>
            <img src="{% static 'img/add-button.png' %}" alt="AddButton" class="add-button">
        </div>
    {% endif %}
</div>

</body>
</html>