{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} HWTracker {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-secondary fixed-top">
    <div class="container-fluid">

        <div class="d-flex align-items-center">
            <a class="navbar-brand">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="75" height="auto">
            </a>
            <div class="group p-2">
                <img style="filter: invert(1)" src="{% static 'img/group.png' %}" alt="Group" width="25">
            </div>
            <div class="fw-bold group" style="font-size: 20px; color: #ffffff;">{{ group }}</div>
        </div>

        <div class="d-flex align-items-center">
            <div class="fw-bold username p-2"
                 style="font-size: 20px; color: #ffffff;">{{ first_name }} {{ last_name }}</div>

            <a href="/logout" class="btn btn-danger btn-lg" role="button">Выйти
            </a>
        </div>

    </div>
</nav>


<a class="tg-button">
    <img src="{% static 'img/tg.png' %}" alt="Telegram">
</a>

<div class="grid-container">
    {% for task in tasks %}
        <div class="card border-dark mb-3 selectable-card" style="width: 18rem; height: 18rem; margin: 1rem;">
            <div class="card-header" style="font-weight: 800">{{ task.subject }}</div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight: bold;">{{ task.topic }}</h5>
                <p class="card-text" style="font-size: 15px;">{{ task.description }}</p>
                <p class="date">{{ task.due_date|date:"d.m.y H:i" }}</p>
            </div>
        </div>
    {% endfor %}
    {% if is_editor %}
        <div class="add-button" onclick="window.location.href = '/taskform'" ;>
            <img src="{% static 'img/add-button.png' %}" alt="AddButton">
        </div>
    {% endif %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var selectableCards = document.querySelectorAll('.selectable-card');

        selectableCards.forEach(function (card) {
            card.addEventListener('click', function () {
                card.classList.toggle('selected-card');
            });
        });
    });

    document.getElementById('info-btn').addEventListener('click', function () {
        document.querySelector('.username').style.display = 'inline-block';
        document.querySelector('.group').style.display = 'inline-block';
    });
</script>
</body>
</html>
